<label for="{{name}}" class="active" ng-transclude></label>
<select ng-model="model" id="{{name}}"
        ng-options="key as value for (key, value) in options ">
        <option value="" disabled>-- {{placeholder}} --</option>
</select>