$crud: '.layout-crud';

#{$crud}{
    position: absolute;
    top: 40px; left: 0; right: 0; bottom: 0;
    transition: right 0.5s;
}

#{$crud}--pages{
    top: 0;
}

#{$crud}--toolbox{
    right: 200px;
    transition: right 0.5s;
}


#{$crud}--header{
    padding-top: 5px;
    flex-wrap: wrap;

    label{
        color: rgba(255,255,255,0.5);
        font-size: 0.7rem;
    }

    input{
        height: 2.5rem;
        color: white;
        border-bottom-color: rgba(255,255,255,0.5);

        &:focus{
            border-bottom-color: white !important;
            box-shadow: 0 1px 0 0 white !important;
        }
    }
}

#{$crud}--header-actions{
    padding: 5px;

    button{
        color: rgba(255,255,255,0.5);

        &:hover{
            color: white;
        }

        &:nth-child(2) i{
            font-size: 1.2rem;
        }
    }
}

#{$crud}--config{
    min-height: 80px;
    padding: 5px 0;

    background-color: #fff;
}

#{$crud}-list-actions{
    height: 56px;
    position: absolute;
    top: 0; left: 0; right: 0;
    padding: 10px;
}

#{$crud}-list-actions-filters{
    margin-left: auto;
}

#{$crud}-list-grid{
    position: absolute;
    top: 56px; left: 0; right: 0; bottom: 0;
    padding: 0 10px 10px 10px;
}