body{
    padding: 0 !important;
}

.layout--container{
    position: fixed;
    z-index: -99;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50px;
}

.layout--page{
    position: relative;
    z-index: -30;

    & > div{
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
    }
}
.layout--page > div[ui-view] > * {
    background-color: #fff;
}
.layout--page-applogo{
    width: 160px;
    height: 160px;

    margin: -80px auto 0 auto;
    padding: 30px 0;
    top: 50% !important;

    text-align: center;
    border-radius: 50%;

    i, h3{
        display: block;
        text-align: center;
        color: white;
        margin: 0;
        line-height: 50px;
    }

    i{
        font-size: 4rem;
    }

    h3{
        font-size: 1.2rem;
    }
}

.layout--page-header{
    color: white;
}

.layout--page-title{
    height: 50px;

    i{
        margin: 0 10px;
        font-size: 25px;
        line-height: 50px;
    }

    h5{
        margin: 0;
        line-height: 50px;
    }
}

.layout--page-actions{
    background-color: rgba(#000, 0.15);

    a{
        padding: 0 10px;

        &:hover{
            background-color: rgba(#000, 0.15) !important;
        }
    }

    i{
        margin-bottom: -50px;
        margin-left: -4px;
        font-size: 17px;
    }
}

.layout--page-inner{
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
    &::-webkit-scrollbar-thumb {
        background: color('grey', 'darken-2');
    }
    &::-webkit-scrollbar-thumb:hover {
        background: color('grey', 'darken-3');
    }
    &::-webkit-scrollbar-track {
        background: color('grey', 'lighten-1');
    }
    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

.layout--page-title-info{

    position: relative;

    align-items: center;

    color: #fff;
    padding:0 10px 0 50px;
    height: 50px;
    line-height: 50px;
    i{
        position: absolute;
        left: 0;
        font-size: 1.8rem;

    }
    span{
        font-size: 1rem;
    }
}

.layout--page-content{
    position: relative;
}




