<li class="os-sidenav-item--link">
    <a>
        <i ng-show="iconActive" class="mdi-navigation-arrow-back"></i>
        <i ng-hide="iconActive" class="{{icon}}"></i>
        <p class="{{color}}">{{label}}</p>
    </a>
</li>
<div class="os-sidenav-item--submenu" ng-transclude></div>


