<p class="os-sidenav-browser--title">
    {{title}}
</p>
<os-sidenav-browser-toolbox show-return="history.length > 0" return-click="parent()"
                            name="{{directory}}" add="addFile()" search="fuctions">toolbox</os-sidenav-browser-toolbox>
<div class="os-sidenav-browser--items">
    <os-sidenav-browser-item name="{{value._name}}" icon="{{value.icon}}"
                             ng-repeat="value in current_directory |toArray| orderBy:['-isDirectory','+_name']| filter:{_name:searchQuery}"
                             ng-click="openFile(value._name)">{{value.info}}</os-sidenav-browser-item>
</div>


