<div class="os-sidenav-browser-toolbox--search">
    <form>
        <input id="toolbox--search" type="search" ng-model="query.text"/>

        <label for="toolbox--search"><i class="mdi-action-search"></i></label>
        <i class="mdi-navigation-close" ng-click="query.text = ''"></i>
    </form>
</div>
<div class="os-sidenav-browser-toolbox--breadcrumb">
    <i class="os-sidenav-browser-toolbox--breadcrumb-return mdi-hardware-keyboard-arrow-left" ng-click="returnClick()" ng-show="showReturn"></i>
    <i class="mdi-hardware-keyboard-arrow-right" ng-hide="showReturn"></i>
    <p class="os-sidenav-browser-toolbox--breadcrumb-directory">{{name}}</p>

    <i class="os-sidenav-browser-toolbox--btn-add os-icon-plus-5" ng-click="add()"></i>
</div>

