<div class="tab-container" ng-class="{active: active, disabled: disabled}">
    <li class="tab">
        <a href ng-click="select()" tab-heading-transclude>{{heading}}</a>
        <i class=" tiny" ng-class="{'mdi-navigation-close':!modified,'mdi-alert-error':modified}" ng-click="close()"></i>
    </li>
</div>
