<div class="row">
    <ul class="tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" ng-transclude></ul>
    <div class="tab-content">
        <div
             id="tabs{{$index}}"
             ng-repeat="tab in tabs"
             ng-show="tab.active"
             os-tab-content-transclude="tab">
        </div>
    </div>
</div>

