$taskbar: '.os-taskbar';

#{$taskbar} {
    display: block;
    position: relative;
    z-index:999;
}

#{$taskbar}-actions{
    display: flex;
    float: right;
}

#{$taskbar}-item{
    li a {
        position: relative;
        padding: 0;

        i {
            width: 50px;
            text-align: center;
        }

        p{
            display: inline-block;
            position: absolute;
                top: 0;
            z-index: -1;
            margin: 0;
            padding: 0 20px;
            height: 38px;
            line-height: 38px;

            overflow: hidden;

            background-color: color("grey", "darken-3");
            word-wrap: normal;
            transition: top 0.1s;

            &.active{
                top: 50px;
                transition: top 0.7s;
            }

            span{
                white-space: nowrap;
            }
        }
    }

    &:nth-child(-n+2){
        li a p{
            box-shadow: inset 2px 0 5px 0 rgba(0, 0, 0, 0.16), inset 2px 0 10px 0 rgba(0, 0, 0, 0.12);
        }
    }

    &:first-child li{
        background-color: rgba(0,0,0,0);

        p{
            left: 50px;
        }

        #{$taskbar}-item--close{
            visibility: hidden !important;
        }
    }
}

#{$taskbar}-item--close{
    height: 12px !important;
    line-height: 12px !important;
    width: 12px !important;
    position: absolute;
    top: 2px; right: 2px;

    font-size: 0.8rem !important;
    visibility: hidden;
    color: rgba(255,255,255,0.7);

    &:hover{
        color: rgba(255,255,255,1);
    }
}
