$taskbar-userpanel: '.os-taskbar-userpanel';

#{$taskbar-userpanel}{
    li a{
        position: relative;
        padding: 0 50px 0 20px;

        cursor: pointer;
        @extend .blue;

        i {
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            text-align: center;
        }
    }
}

#{$taskbar-userpanel}--menu{
    position: absolute;
    top: -100px; right: 0;
    z-index: -1;

    transition: top 0.4s;

    @extend .blue;

    &.is-open{
        top: 50px;
        transition: top 0.4s;
    }

    li{
        height: 40px; line-height: 40px;

        i{
            height: 40px; line-height: 40px;
        }
    }

}

#{$taskbar-userpanel}--menu-disconnect{
    a{
        font-size: 0.9rem;

        i{
            font-size: 1.5rem !important;
        }
    }
}
