$toaster: '.os-taskbar-toaster';

#{$toaster}{
    display: block;
    height: 50px;
    width: 400px;
    position: relative;
}

#mc-messages-wrapper {
    display: flex;
    flex-direction: column-reverse;
    max-height: 50px;
    width: 400px;
    position: relative;

    transition-property: max-height;
    transition-duration: 0.7s;

    &:hover{
        max-height: 100%;

        transition-property: max-height;
        transition-duration: 0.7s;

        .message{
            height: auto;
            width: 100%;
            position: relative;

            span{
                line-height: 25px;
            }
        }
    }
}

#{$toaster} .message{
    height: 50px;
    position: absolute;
    padding: 5px 10px;
    width: 100%;

    overflow: hidden;
    animation-name: slideInLeft;
    animation-duration: 1s;

    a{
        float: right;
        padding: 0;
        margin-right: -10px;

        i{
            width: 40px;
            height: 40px;
            line-height: 40px;

            font-size: 1.3rem;
            text-align: center;
        }
    }


    span{
        display: block;
        line-height: 40px;
        width: 100%;

        font-size: 0.85rem;
    }

    &:after{
        content: '';
        height: 1px;
        display: block;
        position: absolute;
        bottom: 0; left: 0; right: 0;
        background-color: rgba(#fff, 0.3);
    }
}

/*#{$toaster} #mc-messages-wrapper {
    display: flex;
    flex-direction: column-reverse;
    max-height: 50px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    transition-property: max-height;
    transition-duration: 0.7s;

    &:hover{
        max-height: 800px;
    }
}

#{$toaster} #mc-messages-wrapper:hover .message{
    height: auto;
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.2);

    i{
        //height: 100%;
    }

    span{
        height: auto;
        line-height: 30px;
    }
}


#{$toaster} .message{
    display: flex;
    justify-content: center;
    padding: 5px 0;
    position: absolute;
    height: 50px;
    width: 100%;

    overflow: hidden;
    animation-name: slideInLeft;
    animation-duration: 1s;

    a{
        display: inline-block;
        padding: 0;
        line-height: 100%;

        i{
            width: 40px;
            height: 40px;

            //display: flex;
            //align-items: center;

            font-size: 1rem;
            text-align: center;

            &::before{
                //flex: 1;
            }
        }
    }

    span{
        flex: 1;
        height: 40px;
        line-height: 40px;
        width: 100%;
        padding-right: 10px;

        font-size: 0.85rem;
    }
}*/

.message-danger{
    background-color: color('red', 'darken-2') !important;
}

.message-success{
    background-color: color('light-green', 'accent-4') !important;
}

.message-info{
    background-color: color('blue', 'darken-2') !important;
}

.message-warning{
    background-color: color('orange', 'darken-2') !important;
}

@keyframes slideInLeft {
    from {left: 100%;}
    to {left: 0;}
}

