.component-bar{
    display: flex;
    padding: 5px !important;

    background-color: color('grey', 'darken-2');
}

.component-position{
    display: block;
    height: 50px; line-height: 50px;
    margin-right: 5px;
    position: relative;

    background-color: #fff;

    i{
        display: inline-block;
        position: absolute;

        &:first-child{
            @extend .small;
            width: 42px;
        }
    }

    p{
        display: inline-block;
        margin: 0 72px 0 42px;
    }
}

.component-position-copy{
    right: 50px; top: 0;
    font-size: 1.2rem;
    color: color('blue', 'lighten-1');
}

.component-position-config{
    right: 25px; top: 0;
    font-size: 1.2rem;
}

.component-position-delete{
    right: 5px; top: 0;
    font-size: 1.5rem !important;
}

.modal-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(#000, 0.5);
}

.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px;
}