.os-container{
    display: flex;
    margin: 0;

    &::after{
        display: none;
    }

    .row{
      flex-direction: row;
    }

    .row-reverse{
      flex-direction: row-reverse;
    }

    .column{
      flex-direction: column;
    }

    .column-reverse{
      flex-direction: column-reverse;
    }
}

