.os-input{
    @extend .input-field;

    input{
        @extend .validate;
    }
}

.os-select{
    @extend .input-field;

    select.initialized{
        display: none;
    }

    li{
        line-height: 0.8rem;

        span{
          @extend .grey-text;
          @extend .text-darken-4;
        }
    }
}

