$toolbox: '.os-toolbox';

#{$toolbox}{
    width: 200px;
    position: absolute;
    top: 40px; right: -200px; bottom: 0;
    z-index: 7;
    display: flex;

    background-color: color('grey', 'darken-1');
    border-left: 1px solid color('grey', 'darken-1');
    transition: right 0.5s;

    h6{
        height: 40px; line-height: 45px;
        margin: 0;

        text-align: center;
        color: #ffffff;
    }
}

#{$toolbox}--active{
    right: 0 !important;
    transition: right 0.5s;
}

#{$toolbox}-tab{
    line-height: 40px;
    height: 40px;

    position: absolute;
    top: 0;
    left: -53px;

    padding: 0 10px;

    text-align: center;
    color: #ffffff;
    cursor: pointer;
    background-color: color('grey', 'darken-1');
    border-left: 1px solid color('grey', 'darken-1');

    i{
        font-size: 1.5rem;
    }
}

#{$toolbox}-selector{
    padding: 0 10px;

    i:before{
        color: white;
    }

    label{
        color: rgba(255,255,255,0.8);
    }

    input{
        height: 36px !important; line-height: 36px !important;
        color: white;
    }

    ul span{
        font-size: 0.9rem;
    }

    select{
        display: none !important;
    }
}

#{$toolbox}-items{
    flex: 1;
    margin-top: 15px;
    padding: 5px;

    background-color: color('grey', 'lighten-2');
}

#{$toolbox}-item{
    height: 50px; line-height: 50px;
    display: flex;

    background-color: color('grey', 'lighten-1');
    cursor: pointer;

    i{
        @extend .small;
        width: 45px;
    }

    p{
        margin: 0;
    }
}