.os-tabset .tabs{
    height: 40px; line-height: 40px;
    position: relative;

    background-color: color('grey', 'lighten-1');

    &::after{
        content: '';
        width: 100%;
        height: 2px;

        position: absolute;
        left: 0; bottom: 0;
        background-color: color('grey', 'darken-2');
    }
}

.os-tabset .tab-content{
    //padding: 5px;
}

.os-tabset .tab-container{
    margin-left: -30px;
    display: inline-block;
    position: relative;
    bottom: -8px;

    background-color: transparent;
    border-bottom: 31px solid color('grey', 'darken-2');
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    cursor: pointer;

    &:first-child{
        margin-left: 0;
    }

    &.active{
        z-index: 1;

        & .tab{
            border-bottom-color: color('green', 'base');
            color: white;

            a{
                color: white;
            }
        }
    }
}

.os-tabset .tab {
    width: auto !important;
    height: 30px; line-height: 30px;
    position: absolute;
    top: 2px; left: -19px;
    padding: 0 20px 0 10px;

    background-color: transparent;
    border-bottom: 30px solid color('grey', 'lighten-2');
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    a{
        font-size: 0.8rem;
    }

    i{
        position: absolute;
        right: 0;
    }
}

.os-tabset .indicator{
    display: none;
}