$uigrid: '.ui-grid';

#{$uigrid}-top-panel{
    background: transparent;
}

#{$uigrid}-menu-button{
    padding: 5px;
    margin-right: -1px;
    text-align: center;

    i{
        display: block;
        margin-right: -5px;
    }
}

#{$uigrid}-menu-item{
    min-width: 100px;

    i{
        display: inline;
    }
}

#{$uigrid}-header-cell{
    
    &:hover{
        background: rgba(0,0,0,0.1);
    }

    #{$uigrid}-cell-contents{
        padding: 10px 5px;
        text-align: center;
    }
}



#{$uigrid}-column-menu-button{
    padding: 6px 0;
}