.os-sidenav {
    width: 50px;

    position: relative;
    z-index: 1;

    transition: width 0.4s;

    &.hasMenu{
        width: 250px;
        transition: width 0.4s;
    }
}

.os-sidenav--items{
    width: 50px;
    margin: 0;

    position: absolute;
    top: 0; left: 0; bottom: 0;

    box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.16), 2px 0 10px 0 rgba(0, 0, 0, 0.12);
}

.os-sidenav--label{
    height: 50px; line-height: 50px;
    width: 200px;
    display: inline-block;
    margin: 0;
    margin-bottom: -30px;
    overflow: hidden;
    z-index: 1;

    position: absolute;
    bottom: 0;

    color: white;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;

    transform: rotate(-90deg);
    transform-origin: left 0px;

    &:first-letter{
        font-size: 1.6rem
    }
}