.os-sidenav-item{
    display: block;


    &.active{
        .os-sidenav-item--link i{
            background-color: rgba(0,0,0, 0.2);
        }
    }

    &.hover {
        .os-sidenav-item--link a{
            i{
                background-color: rgba(255,255,255, 0.2);
            }

            p{
                left: 50px;
                transition: left 0.5s;
            }
        }
    }
}

.os-sidenav-item--link a {
    display: block;
    position: relative;

    cursor: pointer;

    i{
        @extend .small;

        display: block;
        width: 50px;
        height: 50px; line-height: 50px;


        color: white;
        text-align: center;
    }

    p {
        display: inline-block;
        height: 50px; line-height: 50px;
        width: 150px;
        margin: 0;
        padding: 0 10px;

        position: absolute;
        top: 0; left: -200px;
        z-index: -1;
        overflow: hidden;

        color: white;
        font-size: 0.9rem;
        text-transform: capitalize;
        background-color: $primary-color;
        transition: left 0.4s;

        &.hidden{
            left: -200px !important;
        }
    }
}