.os-sidenav-menu{
    width: 200px;

    position: absolute;
    top: 0; bottom: 0; left: -150px;
    z-index: -1;

    background-color: color('grey', 'lighten-2');
    transition: left 0.4s;

    &.isOpen{
        left: 50px;
        transition: left 0.4s;
    }
}

.os-sidenav-menu--title{
    margin: 0;
    padding: 10px;
    height: 50px;
    line-height: 30px;
    overflow: hidden;

    color:#ffffff;
    background-color: color('grey', 'darken-1');
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
}

.os-sidenav-menu--items{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: hidden;

    border-right: 1px solid color('grey', 'darken-1');

    &:hover{
        overflow-y: auto;
    }

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    &::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
    &::-webkit-scrollbar-thumb {
        background: color('grey', 'darken-2');
    }
    &::-webkit-scrollbar-thumb:hover {
        background: color('grey', 'darken-3');
    }
    &::-webkit-scrollbar-track {
        background: color('grey', 'lighten-1');
    }
    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

.os-sidenav-menu-item{
    position: relative;
    z-index: 1;

    height: 90px;
    display: block;
    padding-top: 5px;
    padding-left: 5px;

    cursor: pointer;

    &:hover{
        background-color: rgba(255,255,255,.45);
    }

    &.active{
        background-color: rgba(255,255,255,.45);
    }

    &::after{
        content: '';
        width: 160px;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 20px;

        background-color: color('grey', 'darken-1');
    }

    i{
        @extend .small;
        display: inline-block;
        width: 50px;
        height: 40px;
        line-height: 40px;

        text-align: center;
        color: color('grey', 'darken-3');
    }

    &--name {
        height: 40px;
        line-height: 40px;
        position: absolute;
        top: 5px;
        left: 55px;
        right: 0;
        margin: 0;
        padding-right: 10px;

        font-weight: 500;
        font-size: 0.9rem;
        color: color('grey', 'darken-3');
    }

    &--description{
        height: 40px;
        line-height: 20px;
        position: absolute;
        top: 40px;
        left: 5px;
        right: 0;
        margin: 0;
        padding: 0 10px;
        overflow: hidden;

        font-size: 0.8rem;
        color: color('grey', 'darken-2');
    }
}

