.os-sidenav-browser{
    @extend .os-sidenav-menu;
}

.os-sidenav-browser--title{
    @extend .os-sidenav-menu--title;

    height: 70px;
    padding: 5px 10px;
}

.os-sidenav-browser--items{
    @extend .os-sidenav-menu--items;

    top: 70px;
}

.os-sidenav-browser-toolbox{
    height: 70px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;

    &--search{
        position: relative;

        input{
            height: 40px;
            width: 200px;
            margin: 0;
            padding: 0 35px;
            box-sizing: border-box;
            overflow: hidden;

            border: 0 !important;
            box-shadow: none !important;

            color: color('grey', 'lighten-2');
        }

        label i {
            @extend .small;

            height: 40px;
            line-height: 40px;

            position: absolute;
            top: 0;
            left: 5px;

            color: color('grey', 'lighten-1');
            cursor: pointer;
        }

        form > i{
            @extend .small;

            height: 40px; line-height: 40px;

            position: absolute;
            top: 0; right: 5px;

            color: color('grey', 'darken-1');
        }

        &.isFocus{
            input{
                background-color: color('grey', 'lighten-1') !important;
                color: color('grey', 'darken-1');
            }

            label i{
                color: color('grey', 'darken-1');
            }

            form > i {
                color: color('grey', 'darken-1') !important;
                cursor: pointer;
            }
        }

        &.hasText{
            input{
                background-color: color('grey', 'darken-1');
            }

            form > i {
                color: color('grey', 'lighten-1');
            }
        }
    }

    &--breadcrumb{
        height: 30px;
        width: 200px;
        display: flex;
        overflow: hidden;
        padding-right: 5px;

        i{
            @extend .small;

            height: 30px; line-height: 30px;

            color: #ffffff;
            cursor: pointer;


        }

        &-return:hover{
            background-color: color('grey', 'base') !important;
        }

        &-directory{
            height: 30px; line-height: 30px;
            margin: 0;
            padding-left: 5px;
            overflow: hidden;

            color: #ffffff;
            font-size: 0.9rem;
        }
    }

    &--btn-add{
        position: absolute;
        right: 0;
        padding: 0 5px;

        font-size: 0.8rem !important;
        cursor: pointer;
        
        &:hover{
            background-color: color('grey', 'base');
        }
    }
}

.os-sidenav-browser-item{
    @extend .os-sidenav-menu-item;

    height: 55px;
    padding: 5px 12px;

    i{
        height: 22px; line-height: 22px;
        width: 25px;
        font-size: 1.5rem;
    }

    &--name{
        height: 22px; line-height: 22px;
        margin: 0;
        padding: 0 3px;

        color: color('grey', 'darken-3');
        font-size: 0.8rem;
        font-weight: 500;
    }

    &--description{

        height: 22px; line-height: 22px;
        margin: 0;
        display: inline-block;
        position: absolute;
        left: 45px; bottom: 4px;

        font-size: 0.7rem;
        color: color('grey', 'darken-2');
    }
}