<li ng-click="test()">
    <a>
        <i class="{{icon}}"></i>
        <p class="{{color}}" ng-transclude></p>
        <i ng-click="close()"
           class="os-taskbar-item--close mdi-navigation-close"></i>
    </a>
</li>